:root {
}

.button {
    width: 200px;
    height: 50px;
}

.button.radius {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button.red {
    background-color: rgb(255, 0, 0);
}

.button.green {
    background-color: rgb(0, 255, 0);
}
